body{
    /* background-color: rgb(15, 16, 19); */
    /* background-image: url('wal.webp'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    /* background: linear-gradient(to right , rgb(58, 77, 255) ,rgb(255, 49, 111)); */
    background-color: rgb(35, 48, 61);
    animation: backchange 20s 0s infinite linear;
}
*{
    outline: none;
}
#searchbar{
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    right: 25px;
    top: 10px;
    bottom: 10px;
    width: 40%;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: normal;
    padding-inline-start: 20px;
    font-weight: 600;
    transition: background-color ease-in-out 0.4s;
}
#searchbar:hover{
    background-color: rgb(0, 0, 0);
}
#searchbar::placeholder{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
#searchbar::selection{
    background-color: white;
    color: black;
    user-select: text;
}

@keyframes backchange {
    0%{
        background-color: #ff7755;
    }
    50%{
        background-color: #8641f5;
    }
    100%{
        background-color: #ff7755;
    }
}
.songname2{
    font-variant: small-caps;

}
.header{
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 600;
    -webkit-backdrop-filter:blur(8px);
    background-repeat: no-repeat;
    z-index: 1;
    backdrop-filter: blur(8px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px 20px;
    
}
*{
    font-variant: small-caps;

}
#main{
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    text-align: left;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-size: 20px;
    font-weight: 200;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.songbutton{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
    transition: all ease-in-out 0.1s;
    transition-delay: 0.2s;
    border: none;
    color: aliceblue;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 5px 5px 20px black;
    font-weight: 600;
}
::selection{
    user-select: none;
}
.songbutton:hover{
    padding: 30px 20px;
}
.songname{
    font-variant: small-caps;
    position: absolute;
    left: 124px;
}
.author{
    font-size: 10px;
    font-variant: small-caps;
}
::-webkit-scrollbar{
    background-color: rgba(240, 248, 255, 0);
}
::-webkit-scrollbar-thumb{
    /* background-color: rgb(44, 44, 44); */
    border-radius: 4px;
    background: linear-gradient(rgb(95, 159, 255), rgb(255, 124, 174));
}
#player{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* background-image: url('https://sherry65-code.github.io/muzik_img/master of puppets.jpg'); */
    background-size:contain;
    background-repeat: no-repeat;
    padding-inline-start: 130px;
    padding-block-start: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: aliceblue;
    transition: all ease-in-out 0.4s;
    transform: scale(0);
    /* text-align: center; */

}
#play{
    position: absolute;
    right: 20px;
    border: none;
    padding: 10px ;
    bottom: 40px;
    background-color: rgba(240, 248, 255, 0);
    background-image: url('play.png');
    background-size: cover;
    transition: all ease-in-out 0.4s;
    filter: invert(100%);
}
.timehandler{
    position: absolute;
    bottom: 45px;
    left: 150px;
    height: 5px;
    top: 60px;
    background-color: rgb(80, 80, 80);
    z-index: 200;
    border-radius: 18px;
    width: 150px;
    background-color: rgba(240, 248, 255, 0);

}
#slider{
    border: none;
    padding: 5px;
    border-radius: 50%;
position: absolute;
left: 0;
top: -50%;
background-color: rgba(240, 248, 255, 0);
}
#slider:hover{
    transform: scale(1.1);
}
#lefttime{
    font-size: 10px;
    position: absolute;
    left: -18%;
    top: -4px;
}
#righttime{
    font-size: 10px;
    position: absolute;
    right: -20%;
    top: -4px;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    /* height: 25px; */
    background: #38383867;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 18px;
    left: 150px;
    top: 60px;
    transform: translate(0px, -5px);
}
.resultbutton{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-variant: normal;
    font-size: 15px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    width: 90%;
    text-align: left;
}
.resultbutton:hover{
    background-color: #000000c4;
}
#results{
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 50px;
    right: 10px;
    left: 50px;
    bottom: 100px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
    padding: 20px;
    overflow-y: scroll;
    overflow-x: auto;
    z-index: 2;
}
#searchpot{
    background-color: rgba(0, 0, 0, 0.158);
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
}