@font-face {
    font-family: 'hecker';
    src: url('./fonts/Rubik-VariableFont_wght.ttf');
}
#h{
    text-shadow: 2px 2px 2px black;
}
body{
    /* background-color: rgb(15, 16, 19); */
    /* background-image: url('wal.webp'); */
    overflow: hidden;
    /* background: linear-gradient(to right , rgb(58, 77, 255) ,rgb(255, 49, 111)); */
    /* background-color: rgb(26, 26, 26); */
    background: linear-gradient(rgb(0, 0, 0), rgb(28, 27, 41));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all ease-in-out 0.4s;
}
*{
    outline: none;
    font-family: 'hecker';
}#hbr2{
    text-align: center;
}
#xtra{
    border: none;
    padding: 10px 20px;
    width: 50%;
    border-radius: 18px;
    background-color: #0000006b;
    color: white;
    transition: all ease-in-out 0.4s;
}
#xtra:hover{
    background-color: black;
}
#searchbar{
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    right: 25px;
    top: 18px;
    bottom: 18px;
    width: 20%;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 13px;
    color: white;
    font-variant: normal;
    padding-inline-start:30px;
    font-weight: 600;
    transition: all ease-in-out 0.4s;
    background-image: url('./images/search.png');
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: 5px 50%;
    font-family: 'hecker';
}
#searchbar:hover{
    background-color: black;
    width: 25%;
}
#searchbar::selection{
    background-color: white;
    color: black;
    user-select: text;
}
#searchbar::-webkit-input-placeholder{
    font-family: 'hecker';
}
#searchbar::placeholder{
    font-family: 'hecker';
}


.songname2{
    font-variant: small-caps;
    text-overflow: ellipsis;
    word-break: break-all;

}
.grd{
    background: linear-gradient(to right,  rgb(93, 255, 247), rgb(70, 116, 216));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.header{
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    font-size: 30px;
    font-weight: 600;
    background-repeat: no-repeat;
    z-index: 100;
    backdrop-filter: blur(8px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 20px;
    
}
*{
    font-variant: small-caps;

}
#main{
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 0;
    text-align: left;
    padding: 20px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 200;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: hidden;
    -webkit-overflow-scrolling: touch;
}
.songbutton{
    padding: 35px 20px;
    font-size: 15px;
    border-radius: 28px;
    transition: all ease-in-out 0.2s;
    border: none;
    color: aliceblue;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.267);
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-shadow: 5px 5px 20px black;
    font-weight: 600;
    padding-inline-start: 140px;
}
.songminimg{
    position: absolute;
    left: 35px;
    height: 80px;
    transform: translate(0%, -21px);
    border-radius: 18px;
}
::selection{
    user-select: none;
}
.songbutton:hover{
    background-color: #0000006b;
}
.songname{
    font-variant: small-caps;
    position: absolute;
    top: 20px;
    left: 5px;
    right: 0;
    text-align: center;
}

.author{
    font-size: 10px;
    font-variant: small-caps;
}
::-webkit-scrollbar{
    background-color: rgba(240, 248, 255, 0);
}
::-webkit-scrollbar-thumb{
    /* background-color: rgb(44, 44, 44); */
    border-radius: 8px;
    background: linear-gradient(rgba(90, 206, 235, 0.411), rgba(172, 172, 172, 0.568));
}
.logo{
    height: 22px;
    padding-inline-end: 5px;
}
.end{
    padding-inline-start: 15px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    background-image: url('./images/sad.png');
    background-size: contain;
    background-position: auto -50%;
    background-repeat: no-repeat;
    overflow-y: visible;
}

#player{
    position: absolute;
    bottom: 0px;
    left: 50px;
    right: 50px;
    height: 100px;
    width: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-position: 20% 20%;
    background-repeat: no-repeat;
    font-weight: 600;
    color: aliceblue;
    transition: all ease-in-out 0.4s;
    transform: scale(0);
    overflow: hidden;
    z-index: 2000;
    background-color: #00000093;
}
#play{
    border: none;
    padding: 10px ;
    background-color: rgba(240, 248, 255, 0);
    background-image: url('images/play.png');
    background-size: contain;
    background-position: center;
    transition: all ease-in-out 0.4s;
    filter: invert(100%);
    text-align: center;
    position: absolute;
    background-repeat: no-repeat;
    right: 20px;
    top: 40%;

}
.timehandler{
    position: absolute;
    z-index: 200;
    background-color: rgba(240, 248, 255, 0);
    width: 50%;
    right: 20%;
    bottom: 8%;
    left: 140px;
    overflow-x: visible;
}
#slider{
    border: none;
    padding: 5px;
    border-radius: 50%;
position: absolute;
left: 0;
background-color: rgba(240, 248, 255, 0);
}
#slider:hover{
    transform: scale(1.1);
}
#lefttime{
    font-size: 10px;
    position: absolute;
    left: -30px;
    top: -2px;
}
#righttime{
    font-size: 10px;
    position: absolute;
    right: -30px;
    top: -2px;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    /* height: 25px; */
    background: #38383867;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 18px;
    left: 150px;
    top: 20px;
    transform: translate(0px, -5px);
}
.resultbutton{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: 600;
    font-variant: normal;
    font-size: 15px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    width: 90%;
    text-align: left;
}
.resultbutton:hover{
    background-color: #000000c4;
}
#results{
    background-color: rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 50px;
    right: 10px;
    left: 50px;
    bottom: 100px;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
    padding: 20px;
    overflow-y: scroll;
    overflow-x: auto;
    z-index: 2;
}
#searchpot{
    background-color: rgba(0, 0, 0, 0.158);
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    visibility: hidden;
}
#splash{
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transition: opacity ease-in-out 0.4s;
    background-image: url('./favicon.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0);
}
@keyframes loadstart {
    0%{
        transform: scale(1);
    }
    99%{
        opacity: 0;
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }

}
#resumeplate{
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 20px 0px;
    width: 200px;
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    font-family: 'hecker';
    font-weight: 600;
    color: white;
    z-index: 5;
    cursor: pointer;
    transform: scale(0);
    transition: all ease-in-out 0.4s;
    background-color: rgba(0, 0, 0, 0.397);
    overflow: hidden;
}
#songimg{
    border-radius: 18px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 12px;
    top: 10px;
    bottom: 10px;
    height: 80px;    
}
#cen{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 160px;
    display: grid;
    place-items: center;
}
#playtime{
    background-color: white;
    width: 1px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}
#loadan{
    position: absolute;
    left: 25%;
    right: 25%;
    height: 5px;
    background-color: rgb(165, 165, 165);
    bottom: 30%;
    border-radius: 8px;
    background: linear-gradient(to right,  rgb(93, 255, 247), rgb(70, 116, 216));
    background-attachment: fixed;
    animation: load22 infinite 2s;
    animation-timing-function: cubic-bezier(0.7,1,0.7,1);
}
@keyframes load22 {
    0%{
        left: 25%;
        right: 25%;
    }
    25%{
        left: 25%;
        right: 70%;
    }
    50%{
        left: 25%;
        right: 25%;
    }
    75%{
        left: 70%;
        right: 25%;
    }

}
